<div class="sl-wrapper my-3">
  <div class="d-none d-md-block mb-3">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- sl_336280 --><ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-3288866780282962" data-ad-slot="4144068886"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
  <div class="d-block d-md-none mb-3 ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- sl_resp1 --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3288866780282962" data-ad-slot="4194992625" data-ad-format="auto" data-full-width-responsive="true"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
</div>