<!-- SECTION author -->
<section class="section-wrapper author">
<h2 class="section-title">Author</h2>
<div class="section-line">
	<div class="section-line-inside"></div>
</div>
  <!-- Widget -->
  {% assign post_author = site.data.people[page.author] %}
  <div class="section-body">
    <div class="section-thumb section-thumb-100">
      <div class="section-img">
<amp-img alt="" layout="responsive" width="833" height="500" tabindex="0" src="{%if post_author.avatar %}{{ post_author.avatar | prepend: site.images_path.avatar | prepend: site.baseurl | prepend: site.url }}{% else %}{{ 'avatar.png' | prepend: site.images_path.avatar | prepend: site.baseurl | prepend: site.url }}{% endif %}"><noscript><div class="img-responsive"><img src="{%if post_author.avatar %}{{ post_author.avatar | prepend: site.images_path.avatar | prepend: site.baseurl | prepend: site.url }}{% else %}{{ 'avatar.png' | prepend: site.images_path.avatar | prepend: site.baseurl | prepend: site.url }}{% endif %}" alt=""/></div></noscript></amp-img>
      </div>
    </div>
	<div class="section-content">
		<h4 class="section-content-heading">{% if post_author.name %}{{post_author.name}}{% else %}{{ site.author.name }}{% endif %}</h4>
		<p>{% if post_author.description %}{{post_author.description}}{% else %}{{ site.author.description }}{% endif %}</p>
 				<div class="social-media">
        <a href="{% if post_author.facebook %}{{post_author.facebook}}{% else %}{{ site.facebook.fb_url }}{% endif %}" class="button button-clean button-round"><span class="fa fa-facebook"></span></a>
				<a href="{% if post_author.twitter %}{{post_author.twitter}}{% else %}{{ site.twitter.tw_url }}{% endif %}" class="button button-clean button-round "><span class="fa fa-twitter"></span></a>
				<a href="{% if post_author.profile %}{{post_author.profile}}{% else %}{{ site.social.googleplus }}{% endif %}" class="button button-clean button-round"><span class="fa fa-google-plus"></span></a>
        </div>
    </div>
  </div>
</section><!-- /SECTION -->