{%- if site.show_banner -%}
        <!-- featured block -->
        <ins class="row featured-block">
          <div class="col-12">
            <div class="featured-wrapper d-block d-md-flex align-items-center">
              <p>qurano.com - &quot;Qur'an Terjemah Perkata - 3 Bahasa&quot; dari apaCara.com</p>
              <a class="btn btn-sm btn-gradient ml-auto mt-3 mt-md-0" href="https://qurano.com/" target="_blank">qurano.com</a>
              <a class="btn btn-sm btn-transparent mt-3 mt-md-0" href="https://qurano.com/id/36-ya-sin/" target="_blank">Surat Yasin</a>
              <i class="fa fa-close x-dismiss"></i>
{%- comment -%}
<!--
              <p>qurano.com - &quot;Qur'an Terjemah 3 Bahasa&quot; dari apaCara.com</p>
              <a class="btn btn-sm btn-gradient ml-auto mt-4 mt-md-0" href="https://qurano.com/" target="_blank">qurano.com</a>
              <a class="btn btn-sm btn-transparent d-none d-md-block" href="https://qurano.com/id/36-ya-sin/" target="_blank">Surat Yasin</a>
              <i class="fa fa-close x-dismiss"></i>
-->
{%- endcomment -%}

            </div>
          </div>
        </ins>
{%- endif -%}