<footer class="footer mt-5 pb-4">
  <div class="container clearfix mt-3 p-0">
    <span class="text-light d-block text-center text-md-left d-md-inline-block">Copyright &copy; <ins id="copyright-year" class="no-underline"></ins>
      <a href="{{ site.url | absolute_url}}" target="_blank">{{ site.name }}</a>. All Rights Reserved.</span>
    <span class="float-none float-md-right d-block mt-1 mt-sm-0 text-center text-light ">
        <a href="/p/about">About</a><i class="px-2 fa fa-circle text-muted"></i>
        <a href="/p/copyright">Copyright</a><i class="px-2 fa fa-circle text-muted"></i>
        <a href="/p/contact">Contact</a><i class="px-2 fa fa-circle text-muted"></i>
        <a href="/p/privacy">Privacy</a>

    </span>
  </div>
{%- comment -%}
<div class="poweredby text-center mt-3 mb-3">
  <p class="text-muted">Proudly powered by</p>
  <a class="logo-1" href="https://github.com" target="_blank" rel="nofollow"></a>
  <a class="logo-2" href="https://www.cloudflare.com" target="_blank" rel="nofollow"></a>
</div>
{%- endcomment -%}
</footer>
{%- if site.environment == "production" -%}
  {%- include script/bootstrap_footer.html -%}
  <script src="/assets/js/bundle.js?v4"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.15.0/prism.min.js"></script>
{%- else -%}
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/bundle.js?v4"></script>
<script src="/assets/js/prism.js?v4"></script>
{%- endif -%}

