{%- capture page_title -%}
  {%- if page.title -%}
    {{ page.title }}
  {%- else -%}
    {{ site.title }}
  {%- endif -%}
{%- endcapture -%}

{%- capture page_image -%}
  {%- if page.image.url -%}
    {{ page.image.url | absolute_url }}
  {%- endif -%}
{%- endcapture -%}

{%- capture page_description -%}
  {%- if page.metadata.description -%}
    {{ page.metadata.description | strip_html | strip_newlines }}
    {%- elsif page.excerpt -%}
      {{ page.excerpt | strip_html | strip_newlines | truncatewords: 25 }}
    {%- else -%}
      {{ site.description }}
  {%- endif -%}
{%- endcapture -%}

{%- if page.taxonomy.tag and page.taxonomy.tag.size > 0 -%}
  {%- capture page_tag -%}
   {%- for tag in page.taxonomy.tag -%}
      {{ tag }}
      {%- unless forloop.last -%},
      {%- endunless -%}
    {%- endfor -%}
  {%- endcapture -%}
{%- endif -%}

{%- capture page_url -%}
  {{ page.url | replace:'index.html','' | absolute_url }}
{%- endcapture -%}

{%- assign post_author = site.data.people[page.author] -%}
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="{{ site.domain_verify.google }}" name="google-site-verification"/>
  <meta content="{{ site.domain_verify.pinterest }}" name="p:domain_verify"/>
  <meta content="{{ site.domain_verify.bing }}" name="msvalidate.01"/>
  <meta content="{{ site.domain_verify.yandex }}" name="yandex-verification"/>
  <link rel="canonical" href="{{ page_url }}"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}"/>
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}"/>
  {%- if page.taxonomy.tag and page.taxonomy.tag.size > 0 -%}<meta name="keywords" content="{{ page_tag }}"/>{%- endif -%}
  <!-- icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Social -->
  <meta property="og:title" content="{{ page_title }}"/>
  {%- if page.title -%}
    <meta property="og:type" content="article"/>
    {%- else -%}
    <meta property="og:type" content="website"/>
  {%- endif -%}
  <meta property="og:url" content="{{ page_url }}"/>
  {%- if page_image.size > 0 -%}
  <meta property="og:image" content="{{ page_image }}"/>
  <meta property="og:image:secure_url" content="{{ page_image }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="675" />
  {%- endif -%}
  <meta property="og:site_name" content="{{ site.name }}"/>
  {%- if page.language -%}
    <meta property="og:locale" content="{{ page.language }}"/>
  {%- endif -%}
  <meta property="og:description" content="{{ page_description }}"/>
  <meta property="article:publisher" content="{{ site.facebook.fb_url }}" />
  <meta property="article:author" content="{{ post_author.facebook | default: site.facebook.fb_url }}" />

  {%- for p_tag in page.taxonomy.tag -%}
  <meta property="article:tag" content="{{ p_tag }}" />
  {%- endfor -%}
  {%- if page.date and site.show_date_schema == true -%}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    {%- endif -%}
    {%- if page.dateModified and site.show_date_schema == true -%}
    <meta property="article:modified_time" content="{{ page.dateModified | date_to_xmlschema }}" />
    {%- elsif page.date and site.show_date_schema == true -%}
    <meta property="article:modified_time" content="{{ page.date | date_to_xmlschema }}" />
  {%- endif -%}
  <meta name="twitter:card" property="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" property="twitter:site" content="{{site.twitter.tw_name}}"/>
  <meta name="twitter:title" property="twitter:title" content="{{ page_title }}"/>
  {%- if page_image.size > 0 -%}<meta name="twitter:image" property="twitter:image" content="{{ page_image }}"/>{%- endif -%}
  <meta name="twitter:description" property="twitter:description" content="{{ page_description }}"/>
  <meta property="fb:app_id" content="{{ site.facebook.fb_app_id }}"/>
  <meta property="fb:admins" content="{{ site.facebook.fb_admins }}"/>
  <meta property="fb:profile_id" content="{{ site.facebook.profile_id }}"/>
  <meta name="amp-google-client-id-api" content="googleanalytics">
  <script type="application/ld+json">
  { "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "{{ page_title }}",
    "headline": "{{ page_title }}",
    "description":"{{ page_description }}",
    {%- if page.taxonomy.tag and page.taxonomy.tag.size > 0 -%}"keywords": "{{ page_tag }}",{%- endif -%}
  {%- if page.date and site.show_date_schema == true -%}
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {%- endif -%}
  {%- if page.dateModified and site.show_date_schema == true -%}
  "dateModified": "{{ page.dateModified | date_to_xmlschema }}",
  {%- elsif page.date and site.show_date_schema == true -%}
  "dateModified": "{{ page.date | date_to_xmlschema }}",
  {%- endif -%}

    {%- if page_image.size > 0 -%}
    "image": {
    "@type": "imageObject",
    "url": "{{ page_image }}",
    "width": "1200",
    "height": "675"
    },{%- endif -%}
    "inLanguage": "{{ page.language }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page_url }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.publisher.name }}",
      "logo": {
        "@type": "imageObject",
        "url": "{{ '/assets/img/logo-600x60.png' | absolute_url }}",
        "width": 600,
        "height": 60
      }
    },
    "author": {
      "@type": "Person",
      "name": "{{ site.author.profile }}"
    },
    "editor": "{{ site.editor.profile }}",
    "url": "{{ page_url }}"
  }
  </script>
  {%- if page.layout == "post" or page.layout == "post_amp" -%}
  <script type='application/ld+json'>
  {"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"{{ site.url | absolute_url }}","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"{{ site.url | absolute_url }}/category/{{ page.taxonomy.topic |default: site.topic }}","name":"{{ page.taxonomy.topic_title | default: site.topic_title }}"}},{"@type":"ListItem","position":3,"item":{"@id":"{{ site.url | absolute_url }}/category/{{ page.taxonomy.category }}","name":"{{ page.taxonomy.category_title | default: page.taxonomy.category }}"}},{"@type":"ListItem","position":4,"item":{"@id":"{{ page.url | absolute_url }}","name":"{{ page.title }}"}}]}</script>
  {%- endif -%}

  {%- if site.environment == "production" -%}
    {%- include script/bootstrap_header.html -%}
  <link rel="stylesheet" href="/assets/css/bundle.min.css?v4">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>  
  {%- else -%}
  <link rel="stylesheet" href="/assets/css/nunito-sans.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/bundle.min.css?v5">
  {%- endif -%}

{%- if page.inject_header -%}
  {{ page.inject_header }}
{%- endif -%}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <script> (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-3288866780282962", enable_page_level_ads: true }); </script>
</head>