<header class="navbar-wrapper">
  <div class="container">
      <nav class="navbar default-layout col-lg-12 col-12 p-sm-0 d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <amp-img alt="{{site.name}} icon" width="23" height="23" layout="fixed" src="{{ '/assets/img/logo2.svg' | absolute_url }}"></amp-img>
          <a class="navbar-brand brand-logo" href="{{ site.url }}">
            apaCara<small class="text-muted">.com</small>
          </a>
          <a class="navbar-brand brand-logo-mini" href="{{ site.url }}">
            apaCara<small class="text-muted">.com</small>
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <ul class="navbar-nav navbar-nav-left header-links d-none d-lg-flex">
            <li class="nav-item active">
              <a href="/category/html/" class="nav-link">HTML
              </a>
            </li>
            <li class="nav-item">
              <a href="/category/css/" class="nav-link">
                CSS</a>
            </li>
            <li class="nav-item">
              <a href="/category/bootstrap/" class="nav-link">
                BOOTSTRAP</a>
            </li>
          </ul>

          <ul class="navbar-nav navbar-nav-right header-links ml-auto">
            <li class="nav-item d-none d-sm-block">
              <a class="profile-text btn btn-outline-light btn-rounded btn-fw" href="https://htmleditor.apacara.com/" target="_blank">HTML Editor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" href="/search/" target="_blank"><i class="fa fa-search"></i></a>
            </li>
          </ul>
        </div>
      </nav>
  </div>
</header>