{%- assign image_url = page.image.url | strip -%}
{%- capture page_image -%}
  {%- if image_url and image_url.size > 0 -%}
    {{ page.image.url | strip | absolute_url }}
  {%- endif -%}
{%- endcapture -%}

{%- if page.image.webp -%}
  {%- capture page_webp -%}
    {{ page_image | replace: '.jpg', '.webp' | replace: '.png', '.webp' }}
  {%- endcapture -%}
{%- endif -%}
<main class="container content-wrapper">
    <div class="content" id="content">
      <div class="post-wrapper">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb text-muted text-sm">
            <li class="breadcrumb-item"><a href="{{ site.url | absolute_url }}"><i class="fa fa-home" aria-label="home"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ site.url | absolute_url }}/category/{{ page.taxonomy.topic |default: site.topic }}">{{ page.taxonomy.topic_title | default: site.topic_title }}</a></li>
            <li class="breadcrumb-item"><a href="{{ site.url | absolute_url }}/category/{{ page.taxonomy.category }}">{{ page.taxonomy.category_title | default: page.taxonomy.category | upcase }}</a></li>
            <li class="breadcrumb-item active text-muted" aria-current="page">{{ page.title }}</li>
          </ol>
        </nav>

      {%- include banner_amp.html -%}

        <!-- post content -->
        <article class="post post-item">
          {%- if page_image.size > 0 -%}
          <figure class="img-responsive mb-4 text-center">
            <amp-img layout="responsive" alt="{{ page.title }}" width="1200" height="675" src="{{ page_webp | default: page_image }}">
            {%- if page_webp -%}
            <amp-img layout="responsive" alt="{{ page.title }}" fallback width="1200" height="675" src="{{ page_image }}"></amp-img></amp-img>
            {%- endif -%}
          </figure>
          {%- endif -%}
          <h1 class="title mb-4">{{ page.title }}</h1>
          <div class="post-meta mb-2 pb-3 mt-4 text-muted text-xs a-title">
              <a href="/category/{{ page.taxonomy.tag.first }}/" class="px-2 py-1 text-dark font-weight-normal">
                  <i class="fa fa-folder pr-2"></i>{{ page.taxonomy.tag.first | upcase }}
              </a>
              <i class="px-2 fa fa-circle-thin text-light"></i>
              {%- assign post_author = site.data.people[page.author] -%}
              <span>
                  <i class="fa fa-user pr-2"></i>{{ post_author.name | default: site.author.name }}
              </span>
              <i class="px-2 fa fa-circle-thin text-light"></i>
              <span class="px-2 py-1">
                  <i class="fa fa-calendar pr-2 text-muted"></i>
                  {%- if page.dateModified -%}
                    {{ page.dateModified | date: "%B %-d, %Y" }}
                  {%- else -%}
                    {{ page.date | date: "%B %-d, %Y"}}
                  {%- endif -%}
              </span>
          </div>
          {%- if site.environment == "production" -%}
            {%- include ads_amp/top.html -%}
          {%- endif -%}
          {%- comment -%}
          <div
          {%- endcomment -%}

{{ content | replace: 'lazy-loader"><img data-src', 'lazy-loader"><amp-img src' | replace: 'class="lazyload"/></div>', '></amp-img></div>' }}

        </article>
        {%- if site.environment == "production" -%}
          {%- include ads_amp/center.html -%}
        {%- endif -%}

        {%- include share.html -%}

        {%- include related_posts.html -%}

        {%- include pagination.html %}

      </div>
    </div>

    {% include aside.html %}
  </main>