<!-- SECTION - related post -->
<section class="section-wrapper related">
<h2 class="section-title">You May Also Like</h2>
<div class="section-line">
  <div class="section-line-inside"></div>
</div>{% assign listed_posts_urls = page.url | split: ' ' %}{% for tag in page.tag limit:1 %}{% for mypost in site.tags[tag] limit:5 %}{% assign author_info = site.data.people[mypost.author] %}{% if listed_posts_urls contains mypost.url %}{% else %}
  <div class="section-body">
    <div class="section-thumb">
      <div class="section-img img-mask"><!-- remove .img-mask -->
        <div class="mask"><a href="#"><i class="fa fa-link"></i></a></div>
<amp-img alt="" layout="fixed" width="100" height="60" tabindex="0" src="{% if mypost.images.thumb %}{{ mypost.images.thumb | prepend: site.images_path.images_thumb | prepend: site.baseurl | prepend: site.url }}{% elsif mypost.images.thumb_absolute %}{{ mypost.images.thumb_absolute }}{% elsif site.default_thumb_url %}{{ site.default_thumb_url }}{% else %}{{'default_thumb.png' | prepend: site.images_path.images_thumb | prepend: site.baseurl | prepend: site.url }}{% endif %}"><noscript><div class="img-fixed"><img width="100" height="60" src="{% if mypost.images.thumb %}{{ mypost.images.thumb | prepend: site.images_path.images_thumb | prepend: site.baseurl | prepend: site.url }}{% elsif mypost.images.thumb_absolute %}{{ mypost.images.thumb_absolute }}{% elsif site.default_thumb_url %}{{ site.default_thumb_url }}{% else %}{{'default_thumb.png' | prepend: site.images_path.images_thumb | prepend: site.baseurl | prepend: site.url }}{% endif %}" alt=""/></div></noscript></amp-img>
      </div>
    </div>
  <div class="section-content">
    <h4 class="section-content-heading">
      <a href="{{ mypost.url | prepend: site.baseurl | prepend: site.url }}">{{ mypost.title }}</a></h4>
    <div class="content-info">
      <ul class="list list-bg list-inline">
    	<li><i class="fa fa-user"></i> {%if mypost.author %}{{ author_info.name }}{% else %}{{ site.author.name }}{% endif %}</li>
    	<li><i class="fa fa fa-clock-o"></i>{% if mypost.dateModified %}{{ mypost.dateModified | date: "%B %-d, %Y" }}{% else %}{{ mypost.date | date: "%B %-d, %Y" }}{% endif %}</li>
      </ul>
    </div>
    </div>
  </div>{% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}{% endif %}{% endfor %}{% endfor %}
</section><!-- /SECTION -->