<section class="section-wrapper share">
  <h3 class="section-title">Share If You Like</h3>
  <div class="section-line">
  	<div class="section-line-inside"></div>
  </div>
    <!-- Widget -->
  <div class="section-text icon-color">
    <a rel="nofollow" target="_blank" href="https://facebook.com/sharer.php?u={{ site.url | url_encode }}{{ page.url | url_encode }}" class="button button-clean icon-large bg-fb"><span class="fa fa-facebook"></span></a>
    <a rel="nofollow" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url | url_encode }}{{ page.url | url_encode }}&via={{ site.twitter.tw_username }}&related={{ site.twitter.tw_username}}" class="button button-clean icon-large bg-tw"><span class="fa fa-twitter"></span></a>
    <a rel="nofollow" target="_blank" href="https://plus.google.com/share?url={{ site.url | url_encode }}{{ page.url | url_encode }}" class="button button-clean icon-large bg-gp"><span class="fa fa-google-plus"></span></a>
    <a rel="nofollow" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url | url_encode }}{{ page.url | url_encode }}&title={{ page.title | url_encode }}&summary={{ page.metadata.description | url_encode  }}&s" class="button button-clean icon-large bg-in"><span class="fa fa-linkedin"></span></a>
    <a rel="nofollow" target="_blank" href="http://www.tumblr.com/share/link?url={{ site.url | url_encode }}{{ page.url | url_encode }}&name={{ page.title | url_encode }}&description={{ page.metadata.description | url_encode  }}" class="button button-clean icon-large bg-tu"><span class="fa fa-tumblr"></span></a>
    <a rel="nofollow" target="_blank" href="http://pinterest.com/pin/create/button/?url={{ site.url | url_encode }}{{ page.url | url_encode }}&description={{ page.title | url_encode }}" class="button button-clean icon-large bg-pi"><span class="fa fa-pinterest-p"></span></a>
  </div>
</section>
