<!-- Sharer -->
<section class="section-wrapper share clearfix">
  <h3 class="section-title">Share If You Like</h3>
  <div class="section-line">
    <div class="section-line-inside"/></div>
  </div>
  <br />
  <amp-social-share type="facebook"
    data-param-app_id="{{ site.facebook.fb_app_id }}"></amp-social-share>
  <amp-social-share type="twitter"></amp-social-share>
  <amp-social-share type="gplus"></amp-social-share>
  <amp-social-share type="linkedin"></amp-social-share>
  <amp-social-share type="pinterest"
    data-param-media="{% if page.images.figure %}{{ page.images.figure | prepend: site.images_path.images | prepend: site.baseurl | prepend: site.url }}{% elsif page.images.figure_absolute %}{{ page.images.figure_absolute }}{% elsif site.default_image_url %}{{ site.default_image_url }}{% else %}{{'posts/default_image.png' | prepend: site.images_path.images | prepend: site.baseurl | prepend: site.url }}{% endif %}"></amp-social-share>
  <amp-social-share type="tumblr"></amp-social-share>
  <amp-social-share type="whatsapp"></amp-social-share>
  <amp-social-share type="email"></amp-social-share>
  <amp-social-share type="system"></amp-social-share>
</section>
