<section class="section-wrapper tags">
  <h2 class="section-title">GET FREE UPDATES</h2>
  <div class="section-line">
  	<div class="section-line-inside"></div>
  </div>
    <!-- Widget -->
  <div class="section-text">
  <a target="_blank" rel="nofollow" class="button button-clean co-fb" href="{{site.facebook.fb_url}}"><i class="fa fa-facebook-square"></i> {{site.facebook.fb_name}}</a>
  <a target="_blank" rel="nofollow" class="button button-clean co-tw" href="{{site.twitter.tw_url}}"><i class="fa fa-twitter-square"></i> {{site.twitter.tw_name}}</a>
  </div>
</section>

<section class="section-wrapper recent-posts">
<h2 class="section-title">Recent Posts</h2>
<div class="section-line">
  <div class="section-line-inside"></div>
</div>
{% include recent_posts_amp.html %}
</section>

<!-- SECTION - categories -->
<section class="section-wrapper categories">
  <h2 class="section-title">Categories</h2>
  <div class="section-line">
  	<div class="section-line-inside"></div>
  </div>
    <!-- Widget -->
  <div class="section-text list-bg list-bg-clean list-bg-bordered">
{% include category_list.html %}
  </div>
</section>{% for tag in page.tags.first %}{% case tag contains %}{% when "html" %}{% include widget_html.html %}{% when "css" %}{% include widget_css.html %}{% when "js" %}{% include widget_js.html %}{% when "jquery" %}{% include widget_jquery.html %}{% when "amp" %}{% include widget_amp.html %}{% when "php" %}{% include widget_php.html %}{% when "mariadb" %}{% include widget_mariadb.html %}{% when "bootstrap3" %}{% include widget_bootstrap3.html %}{% when "bootstrap4" %}{% include widget_bootstrap4.html %}{% else %}{% endcase %}{% endfor %}