<section class="section-wrapper tags">
  <h2 class="section-title">GET UPDATES</h2>
  <div class="section-line">
  	<div class="section-line-inside"></div>
  </div>
    <!-- Widget -->
  <div class="section-text">
  <a target="_blank" rel="nofollow" class="button button-clean co-fb" href="{{site.facebook.fb_url}}"><i class="fa fa-facebook"></i> facebook</a>
  <a target="_blank" rel="nofollow" class="button button-clean co-tw" href="{{site.twitter.tw_url}}"><i class="fa fa-twitter"></i> twitter</a>
  <a target="_blank" rel="nofollow" class="button button-clean co-gp" href="{{site.social.googleplus }}"><i class="fa fa-google-plus"></i> Google+</a>
  </div>
</section>

<section class="section-wrapper recent-posts">
<h2 class="section-title">Recent Posts</h2>
<div class="section-line">
	<div class="section-line-inside"></div>
</div>
{% include recent_posts.html %}
</section>

<!-- SECTION - categories -->
<section class="section-wrapper categories">
  <h2 class="section-title">Categories</h2>
  <div class="section-line">
  	<div class="section-line-inside"></div>
  </div>
    <!-- Widget -->
	<div class="section-text list-bg list-bg-clean list-bg-bordered">
{% include category_list.html %}
	</div>
</section>