<div class="row">
<div class="col text-center">
  <div class="sl_72890 d-none d-lg-block mb-5">
    <!-- sl_72890 -->
    <ins class="adsbygoogle"
      style="display:inline-block;width:728px;height:90px"
      data-ad-client="ca-pub-3288866780282962"
      data-ad-slot="3377782122"></ins>
  </div>
  <div class="sl_resp2 d-lg-none mb-5">
    <!-- sl_resp2 -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3288866780282962"
      data-ad-slot="1288156479"
      data-ad-format="auto"></ins>
  </div>
</div>
</div>