<!DOCTYPE html>
<html {% if page.language %}lang="{{ page.language }}"{% elsif site.language %}lang="{{ site.language }}"{% endif %}>
{%- if site.environment == "development" -%}
{%- include bootstrap/bs_head_local.html -%}
{%- else -%}
{%- include bootstrap/bs_head.html -%}
{%- endif -%}
<body>
{%- unless site.environment == "development" -%}
{%- comment -%}
  {%- if site.ads.enabled -%}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  {%- endif -%}
{%- endcomment -%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.google_analytics}}');
</script>
{%- endunless -%}
{%- include bootstrap/bs_header.html -%}
{{ content }}
{%- include bootstrap/bs_footer.html -%}

{%- if site.environment == "development" -%}
  {%- if page.bootstrap_js -%}
  <script src="{{ '/assets/js/jquery-3.3.1.slim.min.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/popper.min.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.min.js' | absolute_url }}"></script>
  {%- endif -%}
  {%- if page.prism -%}
  <script src="{{ '/assets/js/prism.js' | absolute_url }}"></script>
  {%- endif -%}
{%- else -%}
  {%- if page.bootstrap_js -%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  {%- endif -%}
  {%- if page.prism -%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/prism.min.js" integrity="sha384-CjZ2FNuzz/q4VROdeivBNACDLKNBEZU+K0Yj2dng71kohuyc62FKbyNd2syo5jGK" crossorigin="anonymous"></script>
  {%- endif -%}
{%- endif -%}

{%- if page.add_js_lib_bottom -%}
{{ page.add_js_lib_bottom }}
{%- endif -%}

<script>
// (adsbygoogle = window.adsbygoogle || []).push({});

{%- if page.add_script_bottom -%}
{{ page.add_script_bottom }}
{%- endif -%}
</script>

</body>
</html>
