---
layout: bs_page_default
---
<div id="main" class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog-main">
  	    <div class="post hentry blog-post">
  	      <article class="content item-wrapper" >
          	<h1 class="ac-h1 blog-post-title">{{ page.title }}</h1>
            <!-- ARTICLE - body -->
            <div class="article-body">
{{ content }}
<hr/>
            </div>
          </article>
        </div>
      </div>
      <!-- sidebar -->
      <div class="sidebar-wrapper col-lg-4">
      <aside id="sidebar" class="sidebar">
        {% include bootstrap/bs_sidebar.html %}
      </aside>
    </div>
  	</div>
  </div>
</div>