<!DOCTYPE html>
<html {% if page.language %}lang="{{ page.language }}"{% elsif site.language %}lang="{{ site.language }}"{% endif %}>
{%- if site.environment == "development" -%}
{%- include bootstrap/bs_head_local.html -%}
{%- else -%}
{%- include bootstrap/bs_head.html -%}
{%- endif -%}
<body>
{%- unless site.environment == "development" -%}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.google_analytics}}');
</script>
{%- endunless -%}
{%- include bootstrap/bs_header.html -%}
{{ content }}
{%- include bootstrap/bs_footer.html -%}

{%- if site.environment == "development" -%}
  {%- if page.bootstrap_js -%}
  <script src="{{ '/assets/js/jquery-3.2.1.slim.min.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/popper.min.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.min.js' | absolute_url }}"></script>
  {%- endif -%}
  {%- if site.code_highlighter == "prism" -%}
  <script src="{{ '/assets/js/prism.js' | absolute_url }}"></script>
  {%- endif -%}
{%- else -%}
  {%- if page.bootstrap_js -%}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {%- endif -%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/prism.min.js" integrity="sha384-CjZ2FNuzz/q4VROdeivBNACDLKNBEZU+K0Yj2dng71kohuyc62FKbyNd2syo5jGK" crossorigin="anonymous"></script>
{%- endif -%}

{%- if page.add_js_lib_bottom -%}
{{ page.add_js_lib_bottom }}
{%- endif -%}

{%- if page.add_script_bottom -%}
<script>{{ page.add_script_bottom }}</script>
{%- endif -%}

</body>
</html>