---
layout: compress
---
<!DOCTYPE html>
{%- if page.layout == "post_amp" -%}
<html amp="amp" lang="{{ page.language | default: 'id' }}">
{% include head_amp.html %}
<body>
  {%- if site.environment == "production" -%}
<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-3288866780282962">
</amp-auto-ads>  
   <amp-analytics type="googleanalytics" id="analytics-ga">
      <script type="application/json">
      {
        "vars": {
          "account": "{{site.google_analytics}}"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
      </script>
    </amp-analytics>
  {%- endif -%}
  {%- include header_amp.html -%}
  {{ content }}
  {%- include footer_amp.html -%}
{%- else -%}
<html lang="{{ page.language | default: 'id' }}">
{% include head.html %}
<body>
  {%- if site.environment == "production" -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{site.google_analytics}}');
  </script>
  {%- endif -%}
  {%- include header.html -%}
  {{ content }}
  {%- include footer.html -%}
{%- endif -%}
</body>
</html>