<!DOCTYPE html>
<html {% if page.language %}lang="{{ page.language }}"{% elsif site.language %}lang="{{ site.language }}"{% endif %}>
{% include demo_head.html %}
<body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.google_analytics}}');
</script>

{{ content }}

{% if page.add_foot %}
{{ page.add_foot }}
{% endif %}

{% if page.add_foot_script %}
<script>
{{ page.add_foot_script }}
</script>
{% endif %}
</body>
</html>
