---
layout: default_home_amp
---
<div id="main" class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
  	    <div class="post hentry blog-post">
  	      <div class="content item-wrapper" >
          	{% if page.title %}<h2 class="blog-post-title">{{ page.title }}</h2>{% endif %}
            <!-- ARTICLE - body -->
            <div class="article-body">
{{ content }}
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar -->
      <div class="sidebar-wrapper col-md-4">
			<aside id="sidebar" class="sidebar">
			  {% include sidebar_amp.html %}
			</aside>
		</div>
  	</div>
{% if site.ads.enabled %}
<div class="row">
<div id="topsl" class="col-xs-12">
<amp-ad
layout="fixed-height"
height="100"
type="adsense"
data-ad-client="{{ site.ads.data_ad_client }}"
data-ad-slot="{{ site.ads.topsl }}">
</amp-ad>
</div>
</div>
{% endif %}
  </div>
</div>