---
layout: default_page_amp
---
<div id="main" class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
  	    <div class="post hentry blog-post">
  	      <article class="content item-wrapper" >
          	<h1 class="blog-post-title">{{ page.title }}</h1>
            <!-- ARTICLE - body -->
            <div class="article-body">
{{ content }}
<hr/>
            </div>
          </article>
        </div>
      </div>
      <!-- sidebar -->
      <div class="sidebar-wrapper col-md-4">
      <aside id="sidebar" class="sidebar">
        {% include sidebar_page_amp.html %}
      </aside>
    </div>
  	</div>
  </div>
</div>