---
layout: bs_item_compress
---
<div id="main" class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 blog-main">
        <!-- breadcrumb -->
        {% include bootstrap/bs_breadcrumbs.html path=page.path title=page.title %}
  	    <div class="post hentry blog-post">
  	      <article class="content item-wrapper" >
          	<h1 class="ac-h1 blog-post-title">{{ page.title }}</h1>
            <!-- META - top -->
    				<div class="meta list-wrapper">
    				  <ul class="ac-list list-bg ac-list-inline">
  							<li><i class="fa fa-user"></i>&nbsp;
                  <span>
                    {% assign post_author = site.data.people[page.author] %}
                    <a title="author" target="_blank" rel="author" href="{%if post_author.profile %}{{ post_author.profile }}{% else %}{{ site.author.profile }}{% endif %}">{%if post_author.name %}{{ post_author.name }}{% else %}{{ site.author.name }}{% endif %}</a></span>
                </li>
  							<li><i class="fa fa-clock-o"></i>&nbsp;<span title="Updated on">{% if page.dateModified %}{{ page.dateModified | date: "%B %-d, %Y" }}{% else %}{{ page.date | date: "%B %-d, %Y"}}{% endif %}</span>
                </li>
              </ul>
    				</div>
            <!-- ARTICLE - body -->
            <div class="article-body">
          		<div class="img-wrapper">
{%- capture page_image -%}
  {%- if page.images.figure -%}
    {{ page.images.figure | prepend: site.images_path.images | absolute_url }}
    {%- else -%}
      {{'posts/default_image.png' | prepend: site.images_path.images | absolute_url }}
  {%- endif -%}
{%- endcapture -%}
          		  <figure>
          			<img class="img-fluid img-responsive" src="{{ page_image }}" alt="{% if page.images.alt %}{{ page.images.alt }}{% else %}{{ page.title }}{% endif %}">
                </figure>
          		</div>
{%- if page.metadata.intro -%}
<p class="lead">{{ page.metadata.intro }}</p>
{%- endif -%}

{%- if site.ads.enabled -%}
{%- include boostrap_ads/ads_bottom_image.html -%}
{%- endif -%}

{{ content }}
<!-- sl_ -->
{%- if site.ads.enabled -%}
{%- include boostrap_ads/ads_article_bottom.html -%}
{%- endif -%}
        {% include bootstrap/bs_sharer.html %}
        {% if site.display_author %}
        {% include bootstrap/bs_author.html %}
        {% endif %}
        <hr/>
        <!-- PAGINATION -->
        <nav class="list-bg blog-pagination clearfix">
          <ul class="ac-list next-prev list-bar">{% if page.previous.url %}
            <li class="float-left text-left"><a rel="prev" href="{{ page.previous.url | absolute_url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}" class="ac-a button button-clean"><span class="fa fa-angle-left"></span>&nbsp;&nbsp;Previous Article</a></li>{% endif %}{% if page.next.url %}
            <li class="float-right text-right"><a rel="next" href="{{ page.next.url | absolute_url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}" class="ac-a button button-clean">Next Article&nbsp;&nbsp;<span class="fa fa-angle-right"></span></a></li>{% endif %}
          </ul>
        </nav>
        <hr/>
        {% include bootstrap/bs_related_posts.html %}

        {% if site.disqus and site.environment != "development" %}
<div class="mb-4">
<h3 class="section-title">Comments</h3>
<div class="section-line">
  <div class="section-line-inside"></div>
</div><div id="disqus_thread"></div>{% include bootstrap/bs_disqus.html %}
</div>{% endif %}

<!-- sl_ -->
{%- if site.ads.enabled -%}
{%- include boostrap_ads/ads_bottom.html -%}
{%- endif -%}
            </div>
          </article>
        </div>
      </div>
        <!-- sidebar -->
        <div class="sidebar-wrapper col-lg-4">
  			<aside id="sidebar" class="sidebar">
  			  {% include bootstrap/bs_sidebar.html %}
  			</aside>
  		</div>
  	</div>
  </div>
</div>