---
layout: default_amp
---
<div id="main" class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <!-- breadcrumb -->
        {% include breadcrumbs.html path=page.path title=page.title %}
  	    <div class="post hentry blog-post">
  	      <article class="content item-wrapper" >
          	<h1 class="blog-post-title">{{ page.title }}</h1>
            <!-- META - top -->
    				<div class="meta list-wrapper">
    				  <ul class="list list-bg list-inline">
  							<li><i class="fa fa-user"></i>&nbsp;
                  <span>
                    {% assign post_author = site.data.people[page.author] %}
                    <a title="author" target="_blank" rel="author" href="{%if post_author.profile %}{{ post_author.profile }}{% else %}{{ site.author.profile }}{% endif %}">{%if post_author.name %}{{ post_author.name }}{% else %}{{ site.author.name }}{% endif %}</a></span>
                </li>
  							<li><i class="fa fa-clock-o"></i>&nbsp;<span title="Updated on">{% if page.dateModified %}{{ page.dateModified | date: "%B %-d, %Y" }}{% else %}{{ page.date | date: "%B %-d, %Y"}}{% endif %}</span>
                </li>
              </ul>
    				</div>
            <!-- ARTICLE - body -->
            <div class="article-body">
          		<div class="img-wrapper">
          		  <figure>
<amp-img alt="" layout="responsive" width="833" height="500" tabindex="0" src="{% if page.images.figure %}{{ page.images.figure | prepend: site.images_path.images | prepend: site.baseurl | prepend: site.url }}{% elsif page.images.figure_absolute %}{{ page.images.figure_absolute }}{% elsif site.default_image_url %}{{ site.default_image_url }}{% else %}{{'default_image.png' | prepend: site.images_path.images | prepend: site.baseurl | prepend: site.url }}{% endif %}"><noscript><div class="img-responsive"><img src="{% if page.images.figure %}{{ page.images.figure | prepend: site.images_path.images | prepend: site.baseurl | prepend: site.url }}{% elsif page.images.figure_absolute %}{{ page.images.figure_absolute }}{% elsif site.default_image_url %}{{ site.default_image_url }}{% else %}{{'default_image.png' | prepend: site.images_path.images | prepend: site.baseurl | prepend: site.url }}{% endif %}" alt=""/></div></noscript></amp-img>
                </figure>
          		</div>
              {% if page.images.source_title %}
              <div class="image-credit clearfix">
                <div class="pull-right">
                {% if site.image_source_link %}
                <small class="text-muted">Source: <a  href="{{ page.images.source_url }}" target="_blank" rel="nofollow">{{ page.images.source_title }}</a></small>{% else %}<small class="text-muted">Source: {{ page.images.source_title }}</small>{% endif %}
                </div>
              </div>{% endif %}
{{ content }}
        {% include sharer_amp.html %}
        {% if site.display_author %}
        {% include author_amp.html %}
        {% endif %}
        <hr/>
        <!-- PAGINATION -->
        <nav class="list-bg blog-pagination">
          <ul class="row list next-prev list-bar">{% if page.previous.url %}
            <li class="pull-left text-left"><a rel="prev" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}" class="button button-clean"><span class="fa fa-angle-left"></span>&nbsp;&nbsp;Previous Article</a></li>{% endif %}{% if page.next.url %}
            <li class="push-right text-right"><a rel="next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}" class="button button-clean">Next Article&nbsp;&nbsp;<span class="fa fa-angle-right"></span></a></li>{% endif %}
          </ul>
        </nav>
        <hr/>
        {% include related_posts_amp.html %}
        {% if site.use_fb_comments %}
<h2 class="section-title">Comments</h2>
<div class="section-line">
  <div class="section-line-inside"></div>
</div>{% include comment.html %}{% else %}
<h2 class="section-title">Comments</h2>
<div class="section-line">
  <div class="section-line-inside"></div>
</div><div id="disqus_thread"></div>{% include disqus.html %}{% endif %}
            </div>
          </article>
        </div>
      </div>
        <!-- sidebar -->
        <div class="sidebar-wrapper col-md-4">
  			<aside id="sidebar" class="sidebar">
  			  {% include sidebar_amp.html %}
  			</aside>
  		</div>
  	</div>
  </div>
</div>